@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Table of Content (For Now...)</h2>

<ul>
    <li>@Html.ActionLink("Review", "Index", "FoodReviews")</li>
    <li>@Html.ActionLink("Ingredeints", "Index", "Ingredients")</li>
    <li>@Html.ActionLink("Search", "Search", "Foods")</li>
    <li>@Html.ActionLink("Old Review", "Index", "Review")</li>
</ul>


